@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    /* COLORS */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75); /* (paragraphs) */
    --very-light-gray: hsl(0, 0%, 95%); /* (background, headings, buttons) */
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--very-light-gray)
}

h1 {
    margin-top: 30px;
    font-family: Big Shoulders Display, sans-serif;
}

p {
    margin-top: 30px;
    font-family: Lexend Deca, sans-serif;
}

#container {
    display: flex;
    margin: 200px;
    padding: 0px 200px 0px 200px;
    flex-direction: row;
    align-items: center;
}

#sedans {
    background-color: var(--bright-orange);
    padding: 50px 50px 100px 50px;
}

#suvs {
    background-color: var(--dark-cyan);
    padding: 50px 50px 100px 50px;
}


#luxury {
    background-color: var(--very-dark-cyan);
    padding: 50px 50px 100px 50px;
}

input {
    text-align: none;
    margin-top: 100px;
}
