/* DECLARAÇÕES */
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue:hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-grey: hsl(0, 0%, 59%);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: hsl(185, 53%, 41%)
}

h3 {
    font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
    color: var(--dark-grayish-blue);
}

p {
    font-family: 'Kumbh Sans', Arial, Helvetica, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

hr {
    margin: 30px 0px 0px 0px;
    opacity: 0.3;
}

#container {
    background-color: white;
    width: 350px; 
    margin: 150px auto;
    border-radius: 0 0 15px 15px;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 10px 30px hsla(0, 0%, 0%, 0.178);
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.person-img img {
    border: solid 5px white;
    border-radius: 50%;
    overflow: hidden;
    margin: -50px auto;
    position: relative;
    top: -13px;
    z-index: 4;
}

/* Informações abaixo da imagem */
.person-informations h3 {
    margin-top: 55px;
}

.city {
    margin-top: 12px;
}

.age {
    font-weight: 400;
}

/* Container das estatísicas */
.person-statistics {
    padding: 20px;
}

.numbers-statistics {
    display: flex;
    justify-content: space-around;
}

.likes {
    position: relative;
    right: 10px;
}

.followers {
    position: relative;
    right: 9px;
}

.content-statistics {
    font-size: 12px;
    font-weight: 400;
    margin: 3px 0px 0px 0px;
    display: flex;
    justify-content: space-around;
}

/* FOOTER */
.author {
    text-decoration: none;
    font-size: 20px;
    width: 350px; 
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    color: white;
    position: relative;
}

